.button {
    margin-top: 50px;
    margin-left: 50px;
    padding: 15px 30px;
    background: #008cff;
    border: 2px solid #008cff;
    color: #fff;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 600;
    border-radius: 18px;
    cursor: pointer;
    transition: .3s all ease-in-out;
}

.active {
    background: #d10000;
    border-color: #d10000;
    color: #fff;
}